<ul>
  <% @posts.each do |post| %>
  <li>
    <div class="row news-card">
      <div class="col s6 offset-s3">
        <div class="card hoverable white">
          <div class="card-content">
            <span class="card-title">
              <span class="title-number"><%= post.title_number %></span>
              <span class="title-unit"><%= post.title_unit %></span>
            </span>
            <p><%= post.subtitle %></p>
          </div>

          <div class="card-action">
            <%= link_to 'Show', post %>
            <%= link_to "Source", post.source, class: "grey-text" %>
            <% if admin_signed_in? %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<% if admin_signed_in? %>
  <div class="fixed-action-btn" style="bottom: 80px; right: 24px;">
    <%= link_to new_post_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>
