<p id="notice"><%= notice %></p>

Title Number: <%= @post.title_number %>
Title Unit: <%= @post.title_unit %>
Subtitle: <%= @post.subtitle %>
Date Published: <%= @post.date_published %>
Article: <%= @post.article %>
Source: <%= @post.source %>
iews: <%= @post.views %>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
