<!DOCTYPE html>
<html>
<head>
  <title>DataRead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="blue">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to "Data Read", root_path, class: "brand-logo black-text" %>
      <ul class="right hide-on-med-and-down">
        <% if admin_signed_in? %>
          <li class="black-text">Admin: <%= current_admin.email %></li>
          <li><%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: "black-text" %></li>
        <% elsif user_signed_in? %>
          <li class="black-text"><%= current_user.email %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "black-text" %></li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "black-text" %>
            <%= link_to "Log in", new_user_session_path, class: "black-text" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

  <footer class="page-footer blue">
    <div class="footer-copyright white">
      <div class="container black-text">
        © 2016 Data Read
      </div>
    </div>
  </footer>
</body>
</html>
