<div class="row">
  <div class="user-auth-wrapper card col l4 m8 s12 offset-l4 offset-m2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
            <% pass_placeholder = "Password (#{@minimum_password_length} characters minimum)" %>
          <% else %>
            <% pass_placeholder = "Password" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: pass_placeholder %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
        </div>
      </div>

      <div class="actions row">
        <%= f.submit "Sign up", class: "waves-effect waves-light btn col l12 m12 s12" %>
      </div>
    <% end %>
  </div>
</div>
